<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/navbar-view-media.css">
        <link rel="stylesheet" href="/stylesheets/view-media.css">
        <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
        <link rel='stylesheet' href='/stylesheets/message.css' />
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

        <!-- Latest compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

        <!-- (Optional) Latest compiled and minified JavaScript translation files -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>

  </head>
  <body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand home-btn" href="/">Gator Media</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
              <ul class="navbar-nav">
                <li>
                    <form action="/" method="post" class="form-inline">
                        <select name='category' class="browser-default custom-select">
                            <option>All categories</option>

                        </select>
                        <input type="search" class="form-control mr-sm-2" name="term" placeholder="Search" aria-label="Search"/>
                        <input type="submit" class="btn btn-outline-success my-2 my-sm-0 search-btn" value="Search" href="/search"/>
                    </form>
                </li>
                <li>
                    <a class="btn btn-outline-success mx-4 sell-btn" href="/users/sell">Sell/Post</a>
                </li>
              </ul>
              <ul class="navbar-nav ml-auto">
                <li>
                    <div class="navbar-links">
                        <li class="nav-item">
                            <a class="btn btn-outline-light mx-4 navbar-link" href="/users/about">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-outline-light mx-4 navbar-link" href="/users/dashboard">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <form action="/logout?_method=DELETE" method="POST" class="btn btn-outline-light mx-4 navbar-link">
                                <button class="logout-btn" type="submit" onclick="logoutMessage()">
                                <a action='/logout'>Logout</a>
                                </button>
                            </form>
                        </li>
                    </div>
                </li>
              </ul>
            </div>
          </nav>

        <div class="container px-5" style="margin-top:40px">
            <h2 style="text-align:center">Admin Dashboard</h2>
            <p>This is your administrator dashboard. Here you can see posts that are waiting administrator approval, users you can manage, and all posts that have been approved and posted.</p>
            <br>
            <h4>Pending Posts</h4>
            <p>Posts waiting for admin approval will appear here.</p>
            <div class="row">
                <% for(var i=0; i<pendingItems.length; i++) {%>
                <div class="col">
                    <div class="card" style="width:300px">
                        <img src="data:image/jpg;base64, <%- pendingItems[i].data %>"  width="100" height="100">
                            <div class="card-body">
                              <h4 class="card-title">name: <%= pendingItems[i].name %></h4>
                              <p class="card-text">description: <%= pendingItems[i].description %> </p>
                              <p class="card-text">category: <%= pendingItems[i].category %></p>
                              <p class="card-text">current status: <%= pendingItems[i].status %></p>
                              <p class="card-text">is it Free?: <%= pendingItems[i].isFree %></p>
                              </p>
                              <form action="/admin/approve" method="POST">
                                  <button type="submit" name="buttonValue" value= <%= pendingItems[i].id %> > Approved</button>
                              </form>
                              <form action="/admin/decline" method="POST">
                                  <button type="submit" name="buttonValue" value= <%= pendingItems[i].id %> > Decline</button>
                              </form>
                              <br>
                            </div>
                      </div>
                    </div>
                </div>
                <% } %>
            </div>
            <br><br>
            <h4>Manage Users</h4>
            <p>List of users an admin can manage.</p>
            <br><br>
            <h4>All Posts</h4>
            <p>Your posts awaiting approval will appear here.</p>
            <div class="row">
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card" style="width:300px">
                      <img class="card-img-top" src="blank.png" alt="image">
                      <div class="card-body">
                        <h4 class="card-title">Post title</h4>
                        <p class="card-text">Some example text. The description for the post will preview here.</p>
                        <a href="#" class="btn btn-primary">View Post</a>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
  </html>
