<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap-4.css' />
    <link rel='stylesheet' href='/stylesheets/home-page.css' />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark gatormedia-nav">
        <div>          
          <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item active">
                <a class="nav-link home-btn" href="/">Gator Media<span class="sr-only">(current)</span></a>
            </li>
            <li>
                <div class="search-wrapper">
                    <form action="/" method="post">
                        <select name='category' class="category-dropdown">
                            <option class="category-dropdwn">All categories</option>
                    <% for(var i=0; i<category.length; i++) {%>
                        <option><%= category[i].categoryName %></option>
                    <% } %>
                        </select>
                    <input type="search" class="search-container" name="term" ,placeholder="video name, audio name etc" />
                    <input type="submit" class="search-btn" value="Search" href="/search"/>
                </form>
                </div>
                
            </li>
            <li><button class="sell-btn" onclick="window.location.href = '/users/sell'">Sell/Post</button></li>
            <div class="navbar-links">
                <li class="about-btn"><a href='/users/about' class=" nav-link">About</a></li>
                <% if (user == "") { %>
                    <li class="login-btn"><a href='/users/login' class=" nav-link">Login</a></li>
                    <li class="register-btn"><a href='/users/register' class="nav-link">Register</a></li>
                <% } else if (user != "") { %>
                    <li class="nav-item active">
                        <% if (user.isAdmin == "True") { %>
                            <a class="nav-link home-btn" href="/admin/admindash">Admin </a>
                        <% } else { %>
                            <a class="nav-link home-btn" href="/users/dashboard">User dashborad</a>
                        <% } %>
                    </li> q
                    <li><form action="/logout?_method=DELETE" method="POST">
                            <button class="register-btn" type="submit" onclick="logoutMessage()"> <a action='/logout' class="nav-link">Logout</a></button>
                        </form></li>
                <% } %>
            </div>
            <li class="icon"><a href="javascript:void(0);" class="icon" onclick="myFunction()">
                <i class="fa fa-bars"></i>
            </a></li>
            <!-- <li><form action="/logout?_method=DELETE" method="POST">
                <button class="logout-btn" type="submit" onclick="logoutMessage()"> Logout </button>
            </form></li> -->
          </ul>
          <script>
            function logoutMessage() {
                alert("successful log out!");
            }
        </script>
        </div>
    </nav>
    <div class="media-content-wrapper">
        <div class="site-header">
            <h1>Welcome to Gator Media</h1>
            <h3>A site where SFSU students and faculty can buy, sell, and share digital media content</h3>
        </div>
          <div class="container-home">
            <div class="row">
              <div class="col-12">
                  <table class="table table-image">
    
                    <tbody>
                      <tr>
                          <% for(var i=0; i<item.length; i++) {%>
                              <% if(title == "" && searchCate == "All categories" && item[i].status == "Approved") { %>
                                  <td>
                                      <div class="card" style="width: 18rem;">
                                          <img src="data:image/jpg;base64, <%- item[i].data %>" alt=<%= item[i].category %> width="42" height="42">
                                          <div class="card-body">
                                              <h5 class="card-title">title : <%= item[i].title %></h5>
                                              <h5 class="card-title">title : <%= item[i].name %></h5>
                                              <p class="card-text">description: <%= item[i].description %></p>
                                              <a href="/media/<%= item[i].id %>" class="btn btn-primary">View</a>
                                          </div>
                                      </div>
                                  </td>
                              <%} else if(title == "" && searchCate != "All categories"){ %>
                                  <% if(item[i].category == searchCate) { %>
                                      <p> </p>
                                      <td>
                                          <div class="card" style="width: 18rem;">
                                              <img src="data:image/jpg;base64, <%- item[i].data %>"  alt=<%= item[i].category %> width="42" height="42">
                                              <div class="card-body">
                                                  <h5 class="card-title">title : <%= item[i].title %></h5>
                                                  <h5 class="card-title">title : <%= item[i].name %></h5>
                                                  <p class="card-text">description: <%= item[i].description %></p>
                                                  <a href="/media/<%= item[i].id %>" class="btn btn-primary">View</a>
                                              </div>
                                          </div>
                                      </td>
                                  <% } %>
                              <% } else if(item[i].category == searchCate){ %>
                                  <p> </p>
                                  <td>
                                      <div class="card" style="width: 18rem;">
                                          <img src="data:image/jpg;base64, <%- item[i].data %>" alt=<%= item[i].category %> width="42" height="42">
                                          <div class="card-body">
                                              <h5 class="card-title">title : <%= item[i].title %></h5>
                                              <h5 class="card-title">title : <%= item[i].name %></h5>
                                              <p class="card-text">description: <%= item[i].description %></p>
                                              <a href="/media/<%= item[i].id %>" class="btn btn-primary">View</a>
                                          </div>
                                      </div>
                                  </td>
                              <% } %>
                          <% } %>
                      </tr>
                    </tbody>
                  </table>   
              </div>
            </div>
        </div>
    </div>
  </body>
</html>
