<!DOCTYPE html>
<html>
<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/navbar-view-media.css">
    <link rel="stylesheet" href="/stylesheets/view-media.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>
    <link rel='stylesheet' href='/stylesheets/message.css' />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <!-- (Optional) Latest compiled and minified JavaScript translation files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/i18n/defaults-*.min.js"></script>


</head>
<body>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand home-btn" href="/">Gator Media</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav">
            <li>
                <form action="/" method="post" class="form-inline">
                    <select name='category' class="browser-default custom-select">
                        <option>All categories</option>
                    <% for(var i=0; i<category.length; i++) {%>
                        <option><%= category[i].categoryName %></option>
                    <% } %>
                    </select>
                    <input type="search" class="form-control mr-sm-2" name="term" placeholder="Search" aria-label="Search"/>
                    <input type="submit" class="btn btn-outline-success my-2 my-sm-0 search-btn" value="Search" href="/search"/>
                </form>
            </li>
            <li>
                <a class="btn btn-outline-success mx-4 sell-btn" href="/users/sell">Sell/Post</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-auto">
            <li>
                <div class="navbar-links">
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="btn btn-outline-light mx-4 navbar-link" href="/users/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <form action="/logout?_method=DELETE" method="POST" class="btn btn-outline-light mx-4 navbar-link">
                            <button class="logout-btn" type="submit" onclick="logoutMessage()"> 
                            <a action='/logout'>Logout</a>
                            </button>
                        </form>
                    </li>
                </div>
            </li>
          </ul>
        </div>
      </nav>

    <div class="site-header">
        <h5>SFSU Software Engineering Project CSC 648-848, Spring 2020, For Demonstration Use Only</h5>
    </div>

        <div class="media-img">
            <p class="card-text">Title : <%= media.title %></p>
            <img src="data:image/jpg;base64, <%- media.data %>"  width="200" height="200">
        </div>
        <p></p>
        <div class="media-info">
            <p>Description: <%= media.description %><br>
            category: <%= media.category %>
            </p>
        </div>
        <div class="media-about">
            <h4>id: <%= media.id %></h4>
            <h4>name: <%= media.name %></h4>
            <h4>category: <%= media.category %></h4>
        </div>

    <!-- Message popup-->

        <p>
        <% if (media.isFree == "True" && user != "") { %>
            <a href="data:image/jpg;base64, <%- media.data %>" download=<%= media.name %>>
                <button class="download-btn" type="button">Download</button>
            </a>
        <% } else if(media.isFree == "True" && user == ""){ %>
                <a href='/users/login'>
                    <button type="download-btn">Download </button>
                </a>
        <% } else if(media.isFree == "False"){ %>
            <button class="contact-btn button" data-modal="modalOne" style="background: rgb(167, 238, 170);">Contact Seller</button>
        <% } %>
        </p>
        <div id="modalOne" class="modal">
          <div class="modal-content">
            <div class="contact-form">
              <a class="close">&times;</a>
              <form action="/media/contact" method="POST">
                <h1>Contact Seller</h1>
                <div>
                <h4>Product Information:
                <h4>name: <%= media.mediaName %></h4>
                <h4>category: <%= media.category %></h4>
                 </h4>
                  <input class="fname" type="text" name="name" placeholder="Name">
                  <input type="text" name="name" placeholder="Email">
                </div>
                <h4>Message:</h4>
                <div>
                    <textarea type="text" name="sendContent" placeholder="message owner"></textarea>
                </div>
                <button type="submit" name="buttonValue" value="<%= media.user_id %>"> Send </button>
              </form>
            </div>
          </div>
        </div>
        </div>
        <script>
          var modalBtns = [...document.querySelectorAll(".button")];
          modalBtns.forEach(function(btn){
            btn.onclick = function() {
              var modal = btn.getAttribute('data-modal');
              document.getElementById(modal).style.display = "block";
            }
          });
          var closeBtns = [...document.querySelectorAll(".close")];
          closeBtns.forEach(function(btn){
            btn.onclick = function() {
              var modal = btn.closest('.modal');
              modal.style.display = "none";
            }
          });
          window.onclick = function(event) {
            if (event.target.className === "modal") {
              event.target.style.display = "none";
            }
          }
        </script>

</body>
</html>
