<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/message.css' />
</head>
<body>
    <h1>Media Detail</h1>
    <p>
        <h4>id: <%= media.id %></h4>
        <h4>name: <%= media.mediaName %></h4>
        <h4>category: <%= media.category %></h4>
        <h4>url: <%= media.url %></h4>
    </p>
    <a href='/'> back </a>
</body>
  </head>
<!-- Message popup-->


  <body>
    <p>
      <button class="button" data-modal="modalOne">Contact Seller</button>
    </p>
    <div id="modalOne" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <a class="close">&times;</a>
          <form action="/">
            <h1>Contact Seller</h1>
            <div>
            <h4>Product Information:
            <h4>name: <%= media.mediaName %></h4>
             <h4>category: <%= media.category %></h4>
             </h4>
              <input class="fname" type="text" name="name" placeholder="Name">
              <input type="text" name="name" placeholder="Email">
            </div>
            <h4>Message:</h4>
            <div>
              <textarea rows="4"></textarea>
            </div>
            <button type="submit" href="/">Submit</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    <script>
      var modalBtns = [...document.querySelectorAll(".button")];
      modalBtns.forEach(function(btn){
        btn.onclick = function() {
          var modal = btn.getAttribute('data-modal');
          document.getElementById(modal).style.display = "block";
        }
      });

      var closeBtns = [...document.querySelectorAll(".close")];
      closeBtns.forEach(function(btn){
        btn.onclick = function() {
          var modal = btn.closest('.modal');
          modal.style.display = "none";
        }
      });

      window.onclick = function(event) {
        if (event.target.className === "modal") {
          event.target.style.display = "none";
        }
      }
    </script>
</html>
