extends layouts/default

block content
  section(ui-view)
  script(type="text/javascript").
    window.user = !{user};

  form.search-form(action='/' method="post")
    i.fas.fa-search
    input(type='search', name='term', ,placeholder='video name, audio name etc')
    select(name='category')#category
      option="All categories"
      -for(var i = 0; i<category.length; ++i){
      option= category[i].category
      -}
    input(type='submit', value='submit', href = '/search')
  h1 result
  p
    -for(var i = 0; i<item.length; ++i){
    -if(title == "" && searchCate == "All categories"){
    p=""
    li= "title: " + item[i].mediaName
    p="category: " + item[i].category
    img(src= item[i].url, alt=item[i].category, width='42', height='42')
    -} else if(title == "" && searchCate != "All categories"){
    -if(item[i].category == searchCate){
      p=""
      li= "title: " + item[i].mediaName
      p="category: " + item[i].category
      img(src= item[i].url, alt=item[i].category, width='42', height='42')
    -}
    -} else if(item[i].category == searchCate){
    p=""
    li= "title: " + item[i].mediaName
    p="category: " + item[i].category
    img(src= item[i].url, alt=item[i].category, width='42', height='42')
    -}
    -}

